{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.md", "*.json", "*.yml", "*.yaml", "*.prettierrc"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
